.team img {
width: 500px;
}
.team img:hover {
    width: 550px;
    transition-duration: 0.5s;
}




.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0 60px 0;
    display: flex;
    align-items: center;
    background: url(../img/Fondo_Color.PNG) top center no-repeat;
    background-size: cover;
  }